.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  les classe du css ajoutés par rached*/

.timeline-list {
  position: relative;
  padding-left: 1.5em; /* espace pour puces + fil */
  list-style-type: disc;
}

/* Fil vertical continu */
.timeline-list::before {
  content: "";
  position: absolute;
  top: 0.9em;         /* commence un peu en dessous du début */
  left: 0.55em;       /* aligné avec les puces */
  width: 1px;
  height: calc(100% - 1.8em); /* descend sur toute la hauteur sauf un peu en haut et bas */
  background-color: #ccc;
  z-index: 0;
}

.timeline-list li {
  position: relative;
  margin-bottom: 10px;
  z-index: 1; /* au-dessus du fil */
}
.pointer{
  cursor: pointer;
  transition: border 0.3s ease; /* Pour une animation douce */
}
.pointer:hover {
  border: 2px solid blue; /* Ajoute une bordure bleue au hover */
  box-sizing: border-box; /* Pour éviter un décalage du contenu à cause de la bordure */
}
.pointer:active {
  border: 2px solid blue;
  box-sizing: border-box;
}